<h1>Welcome to <%= @crm_app_name %></h1>
<p>Main Menu</p>


	<ul>
  		<li><a href="/contacts">View All Contacts</a></li>
  		<li><a href="/contacts/new">Add A New Contact</a></li>
  		<li><a href="/contacts/:id">View A Contact</a></li>
  		<li><a href="/contacts/:id/edit">Modify An Existing Contact</a></li>
	</ul>
