<h1>Welcome to this CRM!</h1>
<p>Main menu</p>
<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/peeps">Show All Peeps</a></li>
  <li><a href="/dogs">Show All Dogs</a></li>
  <li><a href= "/cats">Show All Cats</a></li>
</ul>