<!DOCTYPE html>
<html>
	<head>
		<title>CRM App</title>
		<link rel="stylesheet" type="text/css" href="crm.css"/>
	</head>
	<body>

	<%= yield %>





			<footer>Copyright 2014 All Rights Reserved</footer>
	</body>
</html>
